.link {
    text-decoration: none;
    text-decoration-color: #9600ff;
    border-bottom: 2px solid #9600ff;
    display: inline-block;
    line-height: 0.85;
}
.link:hover {
    border-bottom: none;
    @apply line-through;
    text-decoration-color: #9600ff;
}